body {
    width: 400px;
    margin: 0;
}

input {
    outline: none;
}

label {
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
}

#btnsContainer {
    margin: 10px;
    flex: 20%;
    flex-grow: 2;
}

#infoContainer {
    margin: 10px;
    flex: 70%;
    flex-grow: 8;
}

.tooltip {
    position: relative;
    display: block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipclicked .tooltiptext {
    visibility: visible;
    opacity: 1;
}