.adUnits {
    margin: auto;
    background-color: red;
    border: 5px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hideAdUnits {
    display: none;
}

p {
    margin-bottom: 0px;
}